In [5]:
import pandas as pd

In [6]:
selloutData = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")

In [7]:
selloutData.head(2)

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0

1. A01지역의 2015년도 제품별 평균판매량이 가장 높은 상품 3개는? (콤마로 구분하여 작성, 예: PRODUCT12,PRODUCT2,PRODUCT3)

ORDER BY해서 INDEXNO +1(새로운 컬럼 생성)
새로운 컬럼을 SEQUENTIAL하게 생성
RANK >= TARGETRANK 처리한다.

STEP1: 지역, 연도 , 제품을 키로 그룹평균 산출
STEP2: 필터(조건1: A01지역, 조건2: 2015년도)
STEP3: RANK커럼추가
STEP4 RANK >= TARGETRANK 처리한다.

In [8]:
selloutData1 = selloutData.loc[selloutData.REGIONID == 'A01']
selloutData2 = selloutData1.loc[selloutData.YEAR == '2015']
selloutData2
# selloutData2.PRODUCT.drop_duplicates()
sortKey = ["QTY"]
sortedData = selloutData2.sort_values(by=sortKey,
                                     ascending=[False],
                                     inplace=False)
sortedData

AttributeError: 'DataFrame' object has no attribute 'YEAR'

2. 2015년도 A01 지역에서 생산한 제품의 종류는 몇종인가요?

STEP1: 변수선언
TARGETYEAR: 2015
TARGETREGION: A01
STEP2: 데이터 필터:(변수선언조건 활용)
STEP3: 제품기준 DISTINCT ->(DROP_DUPLICATES())
        OR  제춤키를 기준으로 그룹바이

In [ ]:
Product = selloutData1.PRODUCT.drop_duplicates()

len(Product)

3. 2015년도 1사분기 (1~13주) 평균 판매량이 가장 높은 지역 5개를 순서대로 적어주세요 (예: A01, A02,A03,A04,A05), 띄어쓰기 없이 다 붙여서!!

In [ ]:
groupKey = ["REGIONID","PRODUCT","WEEK"]
groupData = selloutData.groupby(groupKey)[["QTY"]].agg("mean")
groupData = groupData.rename(columns = {'QTY':'QTY_MEAN'})
groupData.head(20)
# Data2015 = groupData.loc[selloutData.WEEK.astype(int) < 14 ]
# Data2015

STEP1: 변수선언
TARGETYEAR: 2015
TARGETREGION: 1~13
STEP2: 그룹키(지역) 그룹함수(MEAN)
STEP3: 데이터 필터:(변수선언조건 활용)
STEP4: 정렬 AND RANK
STEP5: RANK >= TARGETRANK

4. 생각해볼 문제 (지역, 상품, 분기별 평균 판매량을 산출하세요) 분기는 1~13, 14~26, 27~39, 40~52 로 구분 (53 제외)

In [ ]:
Data2015_1 = refinedSelloutData.loc[selloutData.WEEK.astype(int) <= Q1 ]
Data2015_1
groupKey = ["REGIONID","PRODUCT"]
groupData = Data2015_1.groupby(groupKey)[["QTY"]].agg("mean")
groupData_1 = groupData.rename(columns = {'QTY':'QTY_MEAN'})
groupData_1

Data2015_234 = refinedSelloutData.loc[selloutData.WEEK.astype(int) > 13 ]
Data2015_2 = Data2015_234.loc[selloutData.WEEK.astype(int) < 27 ]
groupKey = ["REGIONID","PRODUCT"]
groupData = Data2015_2.groupby(groupKey)[["QTY"]].agg("mean")
groupData_2 = groupData.rename(columns = {'QTY':'QTY_MEAN'})
groupData_2

Data2015_34 = refinedSelloutData.loc[selloutData.WEEK.astype(int) > 26 ]
Data2015_3 = Data2015_34.loc[selloutData.WEEK.astype(int) < 40 ]
groupKey = ["REGIONID","PRODUCT"]
groupData = Data2015_3.groupby(groupKey)[["QTY"]].agg("mean")
groupData_3 = groupData.rename(columns = {'QTY':'QTY_MEAN'})
groupData_3

Data2015_4_1 = refinedSelloutData.loc[selloutData.WEEK.astype(int) > 39 ]
Data2015_4 = Data2015_4_1.loc[selloutData.WEEK.astype(int) < 53 ]
groupKey = ["REGIONID","PRODUCT"]
groupData = Data2015_4.groupby(groupKey)[["QTY"]].agg("mean")
groupData_4 = groupData.rename(columns = {'QTY':'QTY_MEAN'})
groupData_4