### 1. 라이브러리 선언하기

In [2]:
import pandas as pd
import numpy as np

In [3]:
selloutData =  \
    pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")

In [4]:
selloutData

       REGIONID    PRODUCT  YEARWEEK      QTY
0           A60   PRODUCT4    201402     71.0
1           A60  PRODUCT59    201402  22275.0
2           A60  PRODUCT34    201402   4463.0
3           A60  PRODUCT47    201402      0.0
4           A60  PRODUCT56    201402     23.0
...         ...        ...       ...      ...
124653      A10  PRODUCT60    201630    824.0
124654      A10  PRODUCT56    201630    275.0
124655      A10  PRODUCT61    201630      0.0
124656      A10  PRODUCT12    201630  15021.0
124657      A10   PRODUCT1    201630    568.0

[124658 rows x 4 columns]

In [6]:
# 숫자형 데이터에 대한 기본 통계량을 보여준다.
selloutData.describe()

           YEARWEEK           QTY
count  124658.00000  1.246580e+05
mean   201526.66879  8.949287e+03
std        82.77994  4.294973e+04
min    201401.00000 -3.640000e+02
25%    201440.00000  3.200000e+01
50%    201527.00000  2.820000e+02
75%    201613.00000  2.223000e+03
max    201652.00000  1.663206e+06

In [ ]:
csDataTypeStr = customerData.astype({"CUSTID":str,
                    "AVGPRICE":str,
                    "EMI":str,
                    "DEVICECOUNT":str,
                    "PRODUCTAGE": str})

In [7]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [8]:
selloutData.QTY = selloutData.QTY.astype(float)
selloutData.REGIONID = selloutData.REGIONID.astype(str)
selloutData.PRODUCT = selloutData.PRODUCT.astype(str)
selloutData.YEARWEEK = selloutData.YEARWEEK.astype(str)

selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
dtype: object